/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://clippings/skin/shortcutHelp.css");


#insert-clipping .toolbarbutton-icon,
#save .toolbarbutton-icon,
#print .toolbarbutton-icon {
  -moz-margin-end: 4px;
}

#insert-clipping, #save {
  margin-right: 6px;
}

#close {
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#insert-clipping:active {
  -moz-image-region: rect(32px, 208px, 48px, 192px);
}

#save:active {
  -moz-image-region: rect(32px, 240px, 48px, 224px);
}

#print:active {
  -moz-image-region: rect(32px, 256px, 48px, 240px);
}


