/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/global.css");


#ae-clippings-mgr-move-to-folder {
    width: 28em;
}

#folder-tree {
    height: 180px;
}

treechildren::-moz-tree-image {
  padding-right: 3px;
}

treechildren::-moz-tree-image(container, open) {
  list-style-image: url("chrome://clippings/skin/images/folder-open.svg");
}

treechildren::-moz-tree-image(container, closed) {
  list-style-image: url("chrome://clippings/skin/images/folder.svg");
}
