/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/preferences/preferences.css");


prefwindow {
  min-width: 36em;
}

separator {
  height: 18px;
}

separator.thin {
  height: 8px;
}

groupbox label {
  margin-left: 6px;
}

.ae-caption {
  margin-left: 0px;
}

.ae-separator {
  height: 0px !important;
  border-top: 1px solid threedshadow;
  border-bottom: 1px solid threedhighlight;
  margin-top: 2px;
  margin-bottom: 0.5em;
}

.ae-group-box {
  -moz-box-flex: 1;
  margin-left: 1.5em;
}

.indent {
  margin-left: 2em;
}

#clipmgr-shortcut-key-legend {
  height: 12em;
}
