/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/dialog.css");


:root {
    --color-dlg-fieldset-border: #b1b1b1;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-dlg-fieldset-border: #585858;
    }
}

body {
    overflow: hidden;
    font-size: 13px;
}

fieldset {
    border-top: 1px solid var(--color-dlg-fieldset-border);
    border-bottom: 1px solid var(--color-dlg-fieldset-border);
}

fieldset > legend {
    margin-left: -12px;
    font-size: 13px;
}

#dlg-buttons > button {
    height: 28px;
}
