/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.clipping-label-red {
  color: red;
}

.clipping-label-orange {
  color: orange;
}

.clipping-label-yellow {
  color: rgb(200, 200, 0);
}

.clipping-label-green {
  color: green;
}

.clipping-label-blue {
  -moz-image-region: rect(0px, 132px, 22px, 110px);
  color: blue;
}

.clipping-label-purple {
  color: purple;
}

.clipping-label-grey {
  color: gray;
}

